groups:
- name: container-alerts
  rules:

  - alert: ContainerDown
    expr: up{job="cadvisor"} == 0
    for: 1m
    labels:
      severity: critical
    annotations:
      summary: "cAdvisor Monitoring Service is Down"
      description: "cAdvisor exporter is not reachable on production VM"