global:
  resolve_timeout: 5m

route:
  receiver: "discord"
  group_by: ["alertname"]
  group_wait: 10s
  group_interval: 1m
  repeat_interval: 4h

receivers:
- name: "discord"
  webhook_configs:
  - url: "http://alertmanager-discord:9094"
