services:
  postgres:
    build:
      context: .
      dockerfile: docker/postgres/Dockerfile
    container_name: ft_postgres
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - ft_network

volumes:
  postgres_data:

networks:
  ft_network:
    driver: bridge
