NODE_ENV=production
DB_HOST=database
POSTGRES_DB=ft_transcendence
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_secure_password_here
POSTGRES_PORT=5432

JWT_ACCESS_SECRET=your_jwt_access_secret_here
JWT_ACCESS_EXPIRES=15m

JWT_REFRESH_SECRET=your_jwt_refresh_secret_here
JWT_REFRESH_EXPIRES=7d

GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_CALL_BACK_URL=https://localhost/api/auth/google/callback

FRONTEND_URL=https://localhost
CORS_ORIGINS=https://localhost

GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret
GITHUB_CALL_BACK_URL=https://localhost/api/auth/github/callback

INTRA_42_CLIENT_ID=your_42_client_id
INTRA_42_CLIENT_SECRET=your_42_client_secret
INTRA_42_CALL_BACK_URL=https://localhost/api/auth/42/callback

RESEND_API_KEY=your_resend_api_key
RESEND_FROM="NetPong Support <your_email@example.com>"
