NODE_ENV=production

DB_HOST=database
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=5432

JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES=7d

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALL_BACK_URL=https://localhost/api/auth/google/callback

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALL_BACK_URL=https://localhost/api/auth/github/callback

INTRA_42_CLIENT_ID=
INTRA_42_CLIENT_SECRET=
INTRA_42_CALL_BACK_URL=https://localhost/api/auth/42/callback

RESEND_API_KEY=
RESEND_FROM=NetPong Support <support@localhost>

FRONTEND_URL=https://localhost
CORS_ORIGINS=https://localhost
